/*
mobile: 375px;
desktop: 1440px;
*/

@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

/*
reset start
*/
*,*::after,*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*
reset end
*/


html{
  font-size: 24px;
  font-family: "Space Mono";
  transition:all 0.2s;
}

:root{
  --clr-primary: hsl(172, 67%, 45%);

  --clr-neutral-very: hsl(183, 100%, 15%);
  --clr-neutral-dark: hsl(186, 14%, 43%);
  --clr-neutral-grayish: hsl(184, 14%, 56%);
  --clr-neutral-light: hsl(185, 41%, 84%);
  --clr-neutral-heavy: hsl(189, 41%, 97%);
  --clr-neutral-white: hsl(0, 0%, 100%);

  --border: 1px red solid;
}

/* the global side */

main{
  background-color: var(--clr-neutral-light);
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
}

input{
  background-color: var(--clr-neutral-heavy);
  border: 0em var(--clr-neutral-light) solid;
  border-radius: 0.2em;
  padding-right: 0.5em;
  font-family: "Space Mono";
  font-size: 1em;
  height: 2em;
  text-align: right;
}

#bill{
  background-image: url(icon-dollar.svg);
  background-position:1em;
  background-size: 0.5em;
  background-repeat: no-repeat;
  margin-top: 0em;
}

#people{
  background-image: url(icon-person.svg);
  background-position:1em;
  background-size: 0.5em;
  background-repeat: no-repeat;
}

.iddle{
  display: flex;
  flex-direction: column;
}

/* global side end */

/* right side start */

section{
  border-radius: 0.5em;
  background-color: var(--clr-neutral-white);
  padding: 1em;
  width: 80%;
  display: flex;
  flex-direction: row;
  gap: 1em;
}

article{
  padding: 1em;
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

#keyboard{
  margin-top: 0em;
  font-size: 1em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0.7em;
  grid-row-gap: 0em;
}

h1{
  margin-top: 1em;
  margin-bottom: 0.5em;
  font-size: 1em;
}

.number-1 {grid-area: 1 / 1 / 2 / 4; }
.number-2 {grid-area: 2 / 1 / 3 / 2; }
.number-3 {grid-area: 2 / 2 / 3 / 3; }
.number-4 {grid-area: 2 / 3 / 3 / 4; }
.number-5 { margin-top: -0.7em; grid-area: 3 / 1 / 4 / 2; }
.number-6 { margin-top: -0.7em; grid-area: 3 / 2 / 4 / 3; }
.number-7 {
  margin-top: -0.7em;
  grid-area: 3 / 3 / 4 / 4;
  height: 2em;
 }

button{
  border: none;
  background-color: var(--clr-neutral-very);
  color: var(--clr-neutral-white);
  border-radius: 0.2em;
  font-family: "space Mono", sans-serif;
  width: 100%;
  height: 2em;
  font-size: 1em;
}
#custom{
  background-color: var(--clr-neutral-heavy);
  color: var(--clr-neutral-very);
}

#ipt-custom{
  display: none;
  background-color: var(--clr-neutral-heavy);
  width: 100%;
  height: 2em;
}

.people-label{
  margin-top: -2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#zero{
  display: none;
  color: red;
  font-size: small;
}

/*
left side end
*/
/*
right side start
*/

aside{
  border-radius: .5em;
  padding: 1em;
  color: var(--clr-primary);
  background-color: var(--clr-neutral-very);
}

aside input{
  width: 80%;
  font-size: 2em;
  padding: 0;
  border: none;
  background-color: var(--clr-neutral-very);
  color: var(--clr-primary);
  overflow:scroll;
}

img{
  width: 1em;
}

aside{
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 5em;
}

.up, .down{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.typescreen{
  width:35%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.labels{
  display: flex;
  flex-direction: column;
  color: var(--clr-neutral-heavy);
}

strong{
  font-size: 0.5em;
  color: var(--clr-neutral-light);
}

aside button{
  background-color: var(--clr-neutral-dark);
  color: var(--clr-neutral-very);
}

#reset{
  transition: 0.2s;
}
/*
right side end
*/

/* :hover :active ... start */

#bill:focus,
#people:focus,
#ipt-custom:focus,
#bill:active,
#people:active,
#ipt-custom:active,
#bill:focus-visible,
#people:focus-within,
#ipt-custom:focus-within{
  outline: none;
  border: 0.1em var(--clr-neutral-light) solid;
}

#screen:active,
#screen:focus,
#screen-down:active,
#screen-down:focus{
  outline: none;
  border: none;
}
button:active{
 background-color: var(--clr-primary);
}
#reset:hover{
  background-color:  var(--clr-neutral-heavy);
  color: var(--clr-neutral-dark);
}
#reset:active{
  background-color: var(--clr-primary);
}
#reset:focus-visible{
  background-color: var(--neutral-light);
}
/* :hover :active ... end */

/* Queries start */

@media screen and (max-width: 1000px){
  html{
    font-size: 17px;
  }
  section{
    width: 100%;
    padding: 1em;
    gap: 0;
  }
  article, aside{
    width: 100%;
    padding: 1em;
  }
  aside{
    gap: 2em;
  }
  
  #keyboard{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0.em;
    grid-row-gap: 0.em;
    }

    
    
    .number-1 {width: 100%; grid-area: 1 / 1 / 2 / 3; }
    .number-2 {width: 100%; grid-area: 2 / 1 / 3 / 2; }
    .number-3 {width: 100%; grid-area: 2 / 2 / 3 / 3; }
    .number-4 {width: 100%; grid-area: 3 / 1 / 4 / 2; margin-top: -0.3em; }
    .number-5 {width: 100%; grid-area: 3 / 2 / 4 / 3; margin-top: -0.3em; }
    .number-6 {width: 100%; grid-area: 4 / 1 / 5 / 2; }
    .number-7 {width: 100%; grid-area: 4 / 2 / 5 / 3; border-radius: 0.2em;}

    .up, .down{
      flex-direction: column;
    }
    .typescreen{
      width: 100%;
    }
}

@media screen and (max-width: 500px){
  html{
    font-size: 17px;
  }
  section{
    width: 100%;
    padding: 1em;
    flex-direction: column;
    gap: 0;
  }
  article, aside{
    width: 100%;
    padding: 1em;
  }
  aside{
    gap: 2em;
  }
  
  #keyboard{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0.em;
    grid-row-gap: 0.em;
    }

    
    
    .number-1 {width: 100%; grid-area: 1 / 1 / 2 / 3; }
    .number-2 {width: 100%; grid-area: 2 / 1 / 3 / 2; }
    .number-3 {width: 100%; grid-area: 2 / 2 / 3 / 3; }
    .number-4 {width: 100%; grid-area: 3 / 1 / 4 / 2; margin-top: -0.3em; }
    .number-5 {width: 100%; grid-area: 3 / 2 / 4 / 3; margin-top: -0.3em; }
    .number-6 {width: 100%; grid-area: 4 / 1 / 5 / 2; }
    .number-7 {width: 100%; grid-area: 4 / 2 / 5 / 3; border-radius: 0.2em;}

    .up, .down{
      flex-direction: column;
    }
    .typescreen{
      width: 100%;
    }
}

/* Queries end */

/* ne pas oublier reset */